.main-container {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.main-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.main-container > div {
    width: 100%;
    
}
.main-container footer {
    border: 1px solid #eee;
}
.main-container footer strong {
    font-size: 16px;
    color: #333;
}
.main-container footer p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}
.main-container button {
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(214,214,214,.6);
    border-radius: 4px;
    cursor: pointer;
    background: #FFF;
    border: 0;
}
.main-container button:hover img {
    transform: translateY(-3px);
    transition: transform .2s ease
}